<!DOCTYPE html >
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>zHelper. Твой маленький помощник в больших делах.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="stylesheet" href="css/zHelper.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!--[if IE]>
    <link rel=stylesheet href=mainIE.css>
    <![endif]-->
</head>

<body>
<form method="post" id="zHelper" action="#" th:action="@{/}" th:object="${address}">
    <input class="text" type="text" placeholder="Введите адрес или номер закупки" th:field="*{address}">
    <input class="button" type="submit" value="">
</form>
<nav>
    <a href="#" target="new">1</a>
    <a href="#" target="new">2</a>
    <a href="#" target="new">3</a>
    <a href="#" target="new">4</a>
    <a href="#" target="new">5</a>
</nav>
<table>
    <caption>Закупки</caption>
    <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>Этап</th>
        <th>Закон</th>
        <th>Срок</th>
        <th>Цена</th>
        <th>Тип</th>
        <th>Заказчик</th>
        <th>Ссылка</th>
    </tr>
    <tr th:each="procurement : ${procurements}">
        <td th:text="${procurement.uin}"></td>
        <td th:text="${procurement.objectOf}"></td>
        <td th:text="${procurement.stage}"></td>
        <td th:text="${procurement.fzNumber}"></td>
        <td th:text="${procurement.applicationDeadline}"></td>
        <td th:text="${procurement.contractPrice}"></td>
        <td th:text="${procurement.procedureType}"></td>
        <td th:text="${procurement.publisherName}"></td>
        <td th:text="${procurement.linkOnPlacement}"></td>
    </tr>
</table>

</body>
</html>
